#navwrap {
	 border-bottom: 0px solid #eee;
    border-top: 0px solid #eee;
    box-shadow: none;
    float: right;
    margin: 31px 0px 0;
}

.active #navwrap {
	margin-top: 12px;
}

.navbar {
 
	margin: 0px auto 0px;
    background-color: transparent;
    clear: both;
    margin: 0 auto;
    max-width: 2200px;
}

.fixed .navbar {
	margin-top: 22px;
}

.navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
    min-height: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.lalign .navbar-inner {
	margin-left: 0px;
}

.navbar-inner .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar .nav {
	float: none;
	text-align: center;
}

.navbar .nav > li {
	position: relative;
}


.navbar .nav > li::before {
    background: #e1e1e1;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top: 35%;
    width: 1px;
}

.navbar .nav > li:first-child::before {
	display: none;
}

.navbar .nav > li > a {
    color: #7c7c7c;
    font-weight: 600;
    font-size: 13px;
    padding: 6px 20px 5px;
    border-top: 0px solid transparent;
    text-decoration: none;
    text-shadow: none;
	text-transform: none;
	border-right: 0px solid #5c5a5e;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .nav > li:last-child > a {
	
}

.navbar .nav > li > a:hover {
	color: [[setting:secondcolor]];
	text-decoration: none !important;
}


.navbar .nav > li > a.moodlezoom {
	border: 0px;
	padding-right: 0px;
	padding-top: 5px;
	font-size: 14px;
}

.notloggedin li.sbl, .notloggedin li.hbl {
	display: none;
}

.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu {
    color: #7c7c7c;
    font-weight: normal;
    margin-left: 0px;
    padding: 4px 0px 0px;
    padding-left: 0px;
    text-decoration: none;
    text-shadow: none;
	text-transform: none;
}

.navbar .nav > li > a:hover {
	
}
.navbar .nav > li:hover > a, #page-site-index .navbar .nav > li:first-child > a {
	text-decoration: none;

	border-top-color: [[setting:maincolor]];

}

#page-site-index .navbar .nav > li:first-child > a.moodlezoom {
	background: transparent;
	border-bottom: 0px solid [[setting:secondcolor]];
	border: 0px;
}

.navbar .btn-navbar {
border: 0px;
background-color:transparent;
background-image:none !important;
background-position: top left !important;
border-radius: 0px;
margin: 0px 5px 0px;
box-shadow: none;
}

.navbar .btn-navbar .icon-bar {
	background-color: #fff;
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active {
	background-image: none !important;
	background-color: #333 !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: transparent;
	color: #eee;
	border-bottom: 0px solid #000;
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
	display: none;
}

.dropdown-menu {
	border: 0px solid transparent;
	border-radius: 0px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	font-size: 14px;
	padding: 0px 0px;
	border-bottom: 0px solid [[setting:maincolor]];
	width: 100%;
	margin: 0 0;
	width: auto;
}

.nav .dropdown-menu li a {
    border-bottom: 1px solid #EEEEEE;
    color: #687074;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 15px;
}

.nav .dropdown-menu li a:hover {
	background: [[setting:maincolor]];
	color: #fff;
}

.fa.fa-angle-down {
    padding-left: 3px;
}


@media only screen 
and (min-width : 1224px) {
/*on hover only for large screens*/
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/*end on hover hack */
}


.nav-collapse.active {
    background: #fff;
    z-index: 9999;
}

@media (max-width: 1099px) {

#widget_topinfo-2 {
		display: none;
	}
}

@media (max-width: 768px) {
	#social_widget-2 {
		display: none;
	}
}

@media (max-width: 979px) {
	
	#navwrap {
		width: 50px;
		overflow: visible;
	}
	
	.navbar .nav > li {
	float: none;
	}
	
	.navbar .nav > li::before {
   	display: none;
	}
	
	.navbar .nav-collapse.active, .navbar .nav-collapse.in {
		background: [[setting:maincolor]];
		box-shadow: none;
		border-bottom: 0px;
		border-left: 0px;
		border-right: 0px;		
	left: 0;
    position: absolute;
    top: 98px;
    width: 100%;
	}
	
	.navbar .nav-collapse.active .pull-left, .navbar .nav-collapse.in .pull-left {
	float: none;
	}

	.nav-collapse.collapse.active .nav > li > a, .nav-collapse.collapse.in .nav > li > a {
	color: #fff !important;
	text-align: left;
	border: 0px !important;
	}
	
	.nav-collapse.collapse.active .nav > li > a:hover, .nav-collapse.collapse.in .nav > li > a:hover {
		background: rgba(0,0,0,.1);
	}
	
	.dir-ltr .usermenu {

	}
	
	.moodle-actionmenu, .moodle-actionmenu > ul, .moodle-actionmenu > ul > li {
		display: block;
	}

}
@media (max-width: 908px) {
	.nav-collapse.collapse.active .nav > li > a, .nav-collapse.collapse.in .nav > li > a {
	color: #fff !important;
	}
}

.navbar .fa.fa-angle-down {
	display: none;
}

.navbar .avatars {
}


.usermenu .moodle-actionmenu .toggle-display .userbutton, .usermenu .moodle-actionmenu .toggle-display {
    height: auto;
    line-height: normal;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
	margin-top: 0px;
	display: none;
}

.jsenabled .usermenu .moodle-actionmenu.show {
	background-color: transparent;
}

.navbar .usermenu .login {
	display: none;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
	max-width: 150px;
	
}

.usermenu .login, .usermenu .login a {
    color: #7c7c7c;
    line-height: normal;
}

.dir-ltr .usermenu {
	float: left;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 5px;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars img {
	width: 18px;
	height: 18px;
	border-radius: 18px;
}


.jsenabled .usermenu .moodle-actionmenu.show .menu a {
	width: auto;
}
.theD {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.13);
    border-radius: 6px;
    display: inline-block;
    line-height: normal;
    padding: 2px 10px 1px;
}

#above-header .logininfo a, .usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
	color: #7c7c7c;
}

.notloggedin .usermenu {
    padding-top: 3px;
}

/*header login form */

.navbar-form.pull-left {
	  margin-left: 10px;
    margin-right: 0;
    margin-top: 0px;
}

#headlog {
	font-size: 12px;
    margin: 0px 0 0 5px;
    padding: 8px 15px;
	line-height: normal;
}

.navbar-form.pull-left #login_username, .navbar-form.pull-left #login_password {
	border-radius: 0px;
    margin-top: 0px;
    padding: 6px 10px 3px;
    width: 100px;
    background: transparent;
    border: 1px solid #656468;
    color: #aaa;
    font-weight: 400;
}

.navbar-form.pull-left #login_username {
	margin-right: 5px;
}
